h1 {
    font: 12pt impact;
    color: red;
}

.judul {
    Font: 20pt;
}

#footer {
    color: blue;
    border: 2px solid black;
}

/* TABLE  */

table,
td,
th {
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    padding: 15px;
}
/* BATAS TABLE */